<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dijit/themes/soria/soria.css" />
</head>
<body>
<h1>Guestbook</h1>
<script type="text/javascript">
	{% autoescape off %}
		var dojoConfig = {
			baseUrl: '//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo',
			paths: {
				'myGuestbook': '/static/js/guestbook'
			},
			isAdmin: {% if is_user_admin %} true {% else %} false {% endif %},
			userLogin: "{{ user_login }}"
        };
    {% endautoescape %}
</script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/dojo/1.10.0/dojo/dojo.js"></script>
<script type="text/javascript">
    require(['myGuestbook/app']);
</script>
<br>
<a href="{{ url }}">{{ url_linktext }}</a>
</body>
</html>
