<html>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
	</head>
	<body>
		{% for greeting in greetings %}
			{% if greeting.author.nickname %}
				<b>{{ greeting.author }}</b> wrote:
			{% else %}
				An anonymous person wrote:
			{% endif %}
			<blockquote>{{ greeting.content|escape }}</blockquote>
			{% if is_admin %}
				<form action="/delete/" method="post">
					{% csrf_token %}
					<input type="hidden" value={{guestbook_name}} name="guestbook_name">
					<input type="hidden" value={{greeting.key.id|escape}} name="greeting_id">
					<input type="submit" value="Delete">
				</form>
			{% endif %}
			<br>
		{% endfor %}
		<form action="/sign/" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<div><input type="submit" value="Sign Guestbook"></div>
		</form>
		<a href="{{ url }}">{{ url_linktext }}</a>
	</body>
</html>